body{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
.order-food{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,black);
    padding: 10px 25px;
    border-radius: 5px;
}
.blue-color{
    color: blue;
}
.flexible-container{
    display: flex;
    margin: 0;
}
.card-container{
    display: flex;
    box-sizing: border-box;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.contact-me{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, red);
    padding: 10px 25px;
    border-radius: 5px;
}
#top-banner{
    background-image: url(shapes/frame\ 01.pngs);
}


.recipies-area{
    text-align: center;
    padding-left: 30%;
}
.card{
    width:350px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 4px 6px 12px gray;
    border: white;
}
.img-style{
    width: 100%;
}



footer p{
    text-align: center;
    color: white;
    
}

#footer{
    color: gray;
    background-color:black;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
}
#heading{
    text-align: center;
}
.red{
    color: red;
}
.ashik{
    margin-right: 15px;
    width: 100%;
    box-shadow: 1 0 1 5px red;
    padding: 10px;
    border-radius: 10px;
}








 